# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
기존프로젝트/.vs/Refactoring/v17/ipch/AutoPCH/16c1735d79ce731/SCENE.ipch
/기존프로젝트/.vs
/기존프로젝트/Refactoring
